<div id="repos" class="row justify-content-around">
  <div  class="col-md-4 d-flex flex-column justify-content-around" id="repo-card" *ngFor="let repo of repos">
    <div>
      <h5 id="title">
        {{repo.name}}
      </h5>
      <p id="date">Created on 12/12/2021</p>
    </div>
     <div>
      <p id="description">
        {{repo.description}}
      </p>
     </div>

     <div class="d-flex justify-content-between">
      <p id="stars">{{repo.stargazers_count}} Stars</p>
      <button id="btn-view">View</button>

     </div>
      
  </div>
</div>
