#repos {
    width: 90%;
    margin: auto;
}
#repo-card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
  max-width: 500px;
  margin: 20px;

}
#title {
  font-size: 24px;
  color: #34387b;
  font-weight: 800;
  font-family: 'Montserrat Alternates', sans-serif;
}
#date {
  font-size: 16px;
  font-family: 'Montserrat Alternates', sans-serif;

}
#description {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Montserrat Alternates', sans-serif;

}
#stars {
  font-size: 16px;
  font-family: 'Montserrat Alternates', sans-serif;
}
#btn-view {
  width: 110px;
  height: 45px;
  border-radius: 10px;
  outline: none;
  color: white;
  background-color: #34387b;
  border: none;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 600;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#btn-view:hover{
  background-color: rgba(206,228,245,255);
  color: #34387b;
  font-weight: 800;
}

.shrink {
  transition: 1s ease;
  }
  
  .shrink:hover{
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  transition: 1s ease;
  }
