
<div class="name my-4 d-flex align-items-center">
    <div id="avatar">
      <img src="{{userData.avatar_url}}" alt="">
    </div>
    <div id="greetings">
      <h5> Hello <span id="username">{{userData.login}}</span> </h5>
      <h5 class="mb-3">Joined on {{ userData.created_at | date}}</h5>
      <a href={{userData.html_url}}  target="_blank"><button id="btn-profile">View Profile</button></a>
    </div>
  
  </div>
  
  <div class="banner d-flex justify-content-center align-items-center">
  
    <div id="profile_data" class=" d-flex justify-content-around ">
      <div class="followers">
        <h5 id="title">Followers</h5>
        <h5 id="value">{{userData.followers}}</h5>
      </div>
      <div class="following">
        <h5 id="title">Following</h5>
        <h5 id="value">{{userData.following}}</h5>
      </div>
      <div class="Repositories">
        <h5 id="title">Repositories</h5>
        <h5 id="value">{{userData.public_repos}}</h5>
      </div>
      <div class="stars">
        <h5 id="title">Gists</h5>
        <h5 id="value">{{userData.public_gists}}</h5>
      </div>
  
    </div>
  
  
  </div>