#user-card {
  max-width: 500px;
  max-height: 500px;
  background-color: greenyellow;
  margin: auto;
}
#user-avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: gray;
  
}
.user-info {
    width: 60%;
    margin: auto;

}
