<div id="user-card" class="d-flex flex-column justify-content-center align-items-center text-center">
  <div id="user-avatar"></div>
  <h5>{{user.username}}</h5>
  <p>{{user.bio}}</p>
</div>






<div class="user-info d-flex justify-content-around " >
    <div>
        <h5>Followers</h5>
        <p>{{user.followers}}</p>
    </div>
    <div>
        <h5>Following</h5>
        <p>{{user.following}}</p>
    </div><div>
        <h5>Repositories</h5>
        <p>{{user.publicRepos}}</p>
    </div><div>
        <h5>Stars</h5>
        <p>{{user.totalStars}}</p>
    </div>
</div>