<div id="user-card" class="d-flex flex-column justify-content-center align-items-center text-center">
  <div id="user-avatar"></div>
  <h5>{{userData.name}}</h5>
  <p>{{userData.bio}}</p>
</div>






<div class="user-info d-flex justify-content-around " >
    <div>
        <h5>Followers</h5>
        <p>{{userData.followers}}</p>
    </div>
    <div>
        <h5>Following</h5>
        <p>{{userData.following}}</p>
    </div><div>
        <h5>Repositories</h5>
        <p>{{userData.public_repos}}</p>
    </div><div>
        <h5>Gists</h5>
        <p>{{userData.public_gists}}</p>
    </div>
</div>